<%- include('../partials/header') %>
<div class="d-flex flex-lg-row flex-column" style="
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 0px 20px;
">
    <!-- side bar -->
    <div class="col-lg-3 col-12" style="
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        gap: 10px;
        min-height: 500px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    ">
        <a href="/user"
            class="btn <%= path === '/user' ? "btn-dark" : "btn-light" %>"
            style="width: 100%; text-align: center;">
            General
        </a>
        <a href="/user/security"
            class="btn <%= path === '/user/security' ? "btn-dark" : "btn-light" %>"
            style="width: 100%; text-align: center;">
            Security
        </a>
        <a href="/user/cart"
            class="btn <%= path === '/user/cart' ? "btn-dark" : "btn-light" %>"
            style="width: 100%; text-align: center;">
            Shopping Cart
        </a>
    </div>
    <div class="col-lg-9 col-12" style="
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    ">
        <%- body %>
    </div>
</div>
<%- include('../partials/footer') %>