<div style="display: flex; user-select: none; width: 100%; font-weight: bold; justify-content: space-between; align-items: center;">
    <span>
        CATEGORY DETAIL
    </span>
    <a class="btn" href="/management/category">
        View all category
    </a>
</div>

<img src="/upload/<%= category.image %>"
    alt="<%= category?.name %>"
    width="200px"
    height="200px"
    style="border-radius: 20px;">

<form action="/management/category/update/<%= category?._id %>" enctype="multipart/form-data"
    method="post"
    style="width: 100%; display: flex; flex-direction: column; align-items: center;">
    <div class="mb-1 mt-3" style="width: 100%; user-select: none;">
        <label for="name" class="form-label" style="font-weight: bold; font-size: 14px;">
            Name: <span style="color: red;">*</span>
        </label>
        <input type="text"
            class="form-control"
            id="name"
            name="name"
            autocomplete="off"
            value="<%= category?.name %>">
    </div>

    <div class="mb-1 mt-3" style="width: 100%; user-select: none;">
        <label for="name" class="form-label" style="font-weight: bold; font-size: 14px;">
            Change image:
        </label>
        <input type="file"
            class="form-control"
            id="image"
            name="image"
            multiple="false">
    </div>

    <div class="mb-1 mt-3" style="width: 100%; user-select: none;">
        <label for="createdAt" class="form-label" style="font-weight: bold; font-size: 14px;">
            CreatedAt:
        </label>
        <input type="text" style="background-color: #dcdcdc;"
            class="form-control"
            id="createdAt"
            name="createdAt"
            autocomplete="off"
            readonly
            value="<%= category?.createdAt %>">
    </div>

    <div class="mb-4 mt-3" style="width: 100%; user-select: none;">
        <label for="createdAt" class="form-label" style="font-weight: bold; font-size: 14px;">
            UpdatedAt:
        </label>
        <input type="text" style="background-color: #dcdcdc;"
            class="form-control"
            id="updatedAt"
            name="updatedAt"
            autocomplete="off"
            readonly
            value="<%= category?.updatedAt %>">
    </div>
    
    <button type="submit" class="btn btn-dark mb-3" style="width: 100%;">
        Update
    </button>
    <a class="btn btn-danger mb-3" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#modalDelete">
        Delete category
    </a>
</form>

<!-- modal delete -->
<div class="modal" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
  
        <div class="modal-header">
            <h4 class="modal-title">Delete category</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
            Are you sure you want to delete this category?
        </div>
  
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-dark" href="/management/category/delete/<%= category?._id %>">
                Argee
            </a>
        </div>
  
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var myModal = new bootstrap.Modal(document.getElementById('modalError'))
        myModal.show()
    })
</script>
<% if(errors) { %>
<div class="modal" id="modalError">
    <div class="modal-dialog">
        <div class="modal-content">
  
        <div class="modal-header bg-dark" style="color: #fff; display: flex; justify-content: space-between;">
            <h4 class="modal-title">ERROR</h4>
            <a class="btn" data-bs-dismiss="modal">
                <i class="bi bi-x-lg" style="color: #fff; font-size: 20px;"></i>
            </a>
        </div>
  
        <div class="modal-body" style="display: flex;
            flex-direction: column;
            min-height: 150px;
            justify-content: center;">
            - <%= errors %>
        </div>
  
        </div>
    </div>
</div>
<% } %>