<div>
  <div class="hero">
    <!--  carousel  -->
    <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
      <div class="carousel-inner">
        <div id='s1' class="carousel-item active bg-1" data-bs-interval="3000"></div>
        <div id='s2' class="carousel-item bg-2" data-bs-interval="3000"></div>
        <div id='s3' class="carousel-item bg-3" data-bs-interval="3000"></div>
        <div id='s4' class="carousel-item bg-4" data-bs-interval="3000"></div>
        <div id='s5' class="carousel-item bg-5" data-bs-interval="3000"></div>
        <div id='s6' class="carousel-item bg-6" data-bs-interval="3000"></div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <script>
      carousel.addEventListener('slid.bs.carousel', function(event) {
        if (event.to === carousel.querySelectorAll('.carousel-item').length - 1) {
          bsCarousel.to(0);
        }
      });
    </script>
  </div>
  <!--  End carousel  -->
  <div class="show-product">
    <!-- Hot-Sale -->
    <section class="hot-sale">
      <div class="countdown ">
        <div class="gif-title" style="height: 90px; width: 700px; margin: auto; ">
        </div>
        <div id="timer">
          <span id="days">00</span>
          <p style="font-size: 30px;">:</p>
          <span id="hours">00</span>
          <p style="font-size: 30px;">:</p>
          <span id="minutes">00</span>
          <p style="font-size: 30px;">:</p>
          <span id="seconds">00</span>
        </div>
      </div>
      <!-- Swiper container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% randomproducts.forEach(product => { %>
          <div class="swiper-slide">
            <a href="/product/<%= product._id%>">
              <div class="card h-100">
                <img src="/upload/<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text">Price: <%= product.price %> VND</p>
                </div>
                <p class="card-text finance-info">Giảm 16%</p>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
        <div class="swiper-button-prev">
          <span>&#10094;</span>
        </div>
        <div class="swiper-button-next">
          <span>&#10095;</span>
        </div>
      </div>
      <script src="/node_modules/swiper/swiper-bundle.min.js"></script>
      <script>
        var swiper = new Swiper('.swiper-container', {
          direction: 'horizontal',
          slidesPerView: 5,
          spaceBetween: 20,
          loop: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          scrollbar: {
            el: '.swiper-scrollbar',
          },
        });
      </script>
    </section>
    <script>
      const saleEndDate = <%= saleEndDate %>

      function updateCountdown() {
        const now = new Date().getTime();
        const distance = saleEndDate - now;

        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;

        if (distance < 0) {
          clearInterval(interval);
          document.getElementById("timer").innerHTML = "Hết thời gian!";
        }
      }

      const interval = setInterval(updateCountdown, 1000);
    </script>
    <!-- End Hot-Sale -->
    <!-- Products -->
    <div class="block-featured-product container">
      <div class="product-list-title is-flex is-flex-wrap-wrap ">
        <h2 class="mb-3" style="user-select: none;">ĐIỆN THOẠI NỔI BẬT NHẤT</h2>
      </div>
      <div class="d-flex" style="display: flex; justify-content: end;">

        <% brands.map(brand => { %>
        <form action="/" method="post" class="mb-3">
          <input type="hidden" name="brand" id="brand" value="<%= brand._id %>" />
          <button type="submit" class="btn btn-light"><%= brand.name %></button>
        </form>
        <% }) %>
        <a href="/">
          <button class="btn btn-light">All</button>
        </a>
      </div>
      <!-- !!! -->
      <div class="product-list">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4">
          <% products.forEach(product => { %>
          <div class="col">
            <a href="/product/<%= product._id%>">
              <div class="card h-100">
                <img src="/upload/<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text">Price: <%= product.price %> VND</p>
                </div>
                <p class="card-text finance-info">Trả góp 0%</p>
              </div>
            </a>
          </div>
          <% }); %>
        </div>
      </div>
      <!-- !!! -->
    </div>
    <!-- End Products -->
  </div>
  <div class="promotions">

  </div>

</div>